@import "compass/reset";
@import "compass/css3";

@import "compass/utilities/general/clearfix";

$text-color: #3b3b3b;
$border-color: #9b9b9b;
$body-color: #F4F3F1;

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 62.5%;
	text-align: center;
	color: $text-color;
	background-color: $body-color;
}

.how-it-works {
	h3 {
		font-size: 2em;
		text-transform: uppercase;
		padding: 1em 0 2em 0;

		&:after {
			display: block;
			content: "";
			background-color: $border-color;
			width: 2em;
			height: .1em;
			margin: .2em auto;
		}
	}

	li {
		float: left;
		width: 33.33%;
		
		position: relative;

		&:before {
			display: block;
			content: "";
			background-color: $border-color;
			width: 100%;
			height: .1em;
			position: absolute;
			top: 3.5em;
			left: 50%;
			margin-left: 2em;
		}

		&:last-child:before {
			display: none;
		}

		.number {
			@include border-radius(100%);
			border: 1px solid $border-color;
			display: block;
			width: 1em;
			height: 1em;
			margin: 1em auto 2.4em auto;
			font-size: 1.5em;
			padding: .8em;
			color: $border-color;
			background-color: $body-color;
		}

		i {
			font-size: 3em;
		}

		.icon-list {
			color: #ECA95A;
		}

		.icon-pencil {
			color: #AD9DD3;
		}

		.icon-users {
			color: #4D99CB;
		}

		h4 {
			font-size: 1.5em;
			font-weight: bold;
			padding: 1em 0;
		}

		p {
			color: $border-color;
			padding: 0 2em;
			line-height: 1.2;
		}
	}

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tazh2a');
	src:url('../fonts/icomoon.eot?#iefix-tazh2a') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-tazh2a') format('woff'),
		url('../fonts/icomoon.ttf?-tazh2a') format('truetype'),
		url('../fonts/icomoon.svg?-tazh2a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\e601";
}
.icon-email:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-sina-weibo:before {
	content: "\e604";
}
.icon-pencil:before {
	content: "\e611";
}
.icon-quill:before {
	content: "\e61d";
}
.icon-tag:before {
	content: "\e612";
}
.icon-address-book:before {
	content: "\e613";
}
.icon-bell:before {
	content: "\e61e";
}
.icon-mobile:before {
	content: "\e606";
}
.icon-redo:before {
	content: "\e61f";
}
.icon-user:before {
	content: "\e61c";
}
.icon-users:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e620";
}
.icon-list:before {
	content: "\e614";
}
.icon-flag:before {
	content: "\e608";
}
.icon-heart:before {
	content: "\e615";
}
.icon-thumbs-up:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-loop:before {
	content: "\e617";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e618";
}
.icon-skype:before {
	content: "\e600";
}
.icon-maximize:before {
	content: "\e621";
}
.icon-star:before {
	content: "\e609";
}
.icon-video:before {
	content: "\e60a";
}
.icon-settings:before {
	content: "\e60b";
}
.icon-lock:before {
	content: "\e60c";
}
.icon-world:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e619";
}
.icon-min:before {
	content: "\e61a";
}
.icon-max:before {
	content: "\e61b";
}
.icon-ellipsis:before {
	content: "\e622";
}
