/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  color: #3b3b3b;
  text-align: center;
  background-color: #F4F3F1;
}

/* line 18, ../sass/style.scss */
.how-it-works {
  overflow: hidden;
  *zoom: 1;
}
/* line 19, ../sass/style.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
/* line 24, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #9b9b9b;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 34, ../sass/style.scss */
.how-it-works li {
  float: left;
  width: 33%;
  position: relative;
}
/* line 40, ../sass/style.scss */
.how-it-works li:before {
  display: block;
  content: "";
  background: #9b9b9b;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 4em;
  left: 50%;
  margin: 0 2em;
}
/* line 52, ../sass/style.scss */
.how-it-works li:last-child:before {
  display: none;
}
/* line 56, ../sass/style.scss */
.how-it-works li .number {
  font-size: 2em;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F3F1;
}
/* line 69, ../sass/style.scss */
.how-it-works li i {
  font-size: 3.6em;
}
/* line 73, ../sass/style.scss */
.how-it-works li .icon-list {
  color: #ECA95A;
}
/* line 77, ../sass/style.scss */
.how-it-works li .icon-pencil {
  color: #AC9CD2;
}
/* line 81, ../sass/style.scss */
.how-it-works li .icon-users {
  color: #4D99CB;
}
/* line 85, ../sass/style.scss */
.how-it-works li h3 {
  font-size: 1.5em;
  padding: 2em 0 1em 0;
  font-weight: bold;
}
/* line 91, ../sass/style.scss */
.how-it-works li p {
  color: #9b9b9b;
  line-height: 1.2;
  padding: 0 2em;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-tazh2a");
  src: url("../fonts/icomoon.eot?#iefix-tazh2a") format("embedded-opentype"), url("../fonts/icomoon.woff?-tazh2a") format("woff"), url("../fonts/icomoon.ttf?-tazh2a") format("truetype"), url("../fonts/icomoon.svg?-tazh2a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 112, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 126, ../sass/style.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 129, ../sass/style.scss */
.icon-email:before {
  content: "\e602";
}

/* line 132, ../sass/style.scss */
.icon-github:before {
  content: "\e603";
}

/* line 135, ../sass/style.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 138, ../sass/style.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 141, ../sass/style.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 144, ../sass/style.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 147, ../sass/style.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 150, ../sass/style.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 153, ../sass/style.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 156, ../sass/style.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 159, ../sass/style.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 162, ../sass/style.scss */
.icon-users:before {
  content: "\e607";
}

/* line 165, ../sass/style.scss */
.icon-search:before {
  content: "\e620";
}

/* line 168, ../sass/style.scss */
.icon-list:before {
  content: "\e614";
}

/* line 171, ../sass/style.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 174, ../sass/style.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 177, ../sass/style.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 180, ../sass/style.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 183, ../sass/style.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 186, ../sass/style.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 189, ../sass/style.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 192, ../sass/style.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 195, ../sass/style.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 198, ../sass/style.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 201, ../sass/style.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 204, ../sass/style.scss */
.icon-star:before {
  content: "\e609";
}

/* line 207, ../sass/style.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 210, ../sass/style.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 213, ../sass/style.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 216, ../sass/style.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 219, ../sass/style.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 222, ../sass/style.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 225, ../sass/style.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 228, ../sass/style.scss */
.icon-ellipsis:before {
  content: "\e622";
}
